<!doctype html>
<html lang="en">
<head>

    <title>Dog Breed Predictor</title>
    
    <!--import script files needed from plotly and bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    </head>
    
    <body>
    
    <!--navbar links-->     
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
       <a class="navbar-brand" href="#">Dog Breed Predictor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarTogglerDemo02" 
      aria-controls="navbarTogglerDemo02" aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>   
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="https://www.udacity.com">Udacity</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <!--middle section-->       
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center">Dog Breed Predictor</h1>
            <h4 class="text-center">Provide an image containing a human face or a dog and this app will tell you 
                which dog breed is most similar.</h4>
            <hr />
            <div class="row">
            {% if classification %}
              <div style="height: auto; width: 20%">
                <img style="height: 100%; width: 100%; object-fit: contain" src="uploads/{{classification.filename}}">
              </div>
            </div>
              {% if classification.contains_human_face %}
                <p>Thats a human.</p>
                <p>And the most resembling dog breed is: {{classification.dog_breed}}</p>
              {% elif classification.contains_dog %}
                <p>Thats a dog.</p>
                <p>And the most resembling dog breed is: {{classification.dog_breed}}</p>
              {% else %}
                <p>Oh my dear thats neither human nor a dog.</p>
              {% endif %}
            {% endif %}

            <div class="row">
              <form action="/upload" method="post" enctype="multipart/form-data" id='upload_form'>
                <input type="file" class="form-control form-control-file" id="image_file" name="query">
                <button type="submit" class="btn btn-success">Tell me the most similar dog!</button>
              </form>
            </div>
        </div>
    </div>
</html>